<h1>Sczegóły quizu</h1>
<a href="/quizes">Wróć do listy</a>
{% if quiz %}

<div>
    <h3>{{quiz.name}}</h3>
    <p>{{quiz.description}}</p>

    <a href="/question/{{quiz.id}}">Przejdź do quizu</a>
    
</div>

{% endif %}